:root {
    --color_cabeceras: rgb(40,65,120,1);
}
html{
    overflow-x: hidden;
    height: auto;
}

body{
    width: 100%;
    height: 100%;
	margin:0;
    display:flex;
	align-items:center;
    flex-flow: column nowrap;
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-position: center;    
}

form{
    display: flex;
    align-items:center;
	justify-content:center;
    flex-flow: column wrap;
    left: 0;
    right: 0;
    margin: auto;

    background-color: rgba(255, 255, 255, 0.849);
    width: 40vw;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form h2{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: -2px 1px 2px 0 rgba(0, 0, 0, 0.8);
    
}

form input,select,textarea,label,option{
    margin-top: 10px;
    width: 90%;
    
}

form #enviar{
    
    height: 50px;
    width: 150px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.8);
    
}

.mensajeform{
    display: inline-block;
    width: 40vw;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.76);
    color: black;
    margin-bottom: 20px;
}

  
/* Menú */

#btn_menu {
    display: none;
}

header label {
    display: none;
    width: 50px;
    height: 50px;
    padding: 10px;
}

header label:hover {
    cursor:pointer;
    background: rgba(0,0,0,0.3);
}

.menu{
    margin: 0;
   
    padding: 0;
    display: flex;
    background: var(--color_cabeceras);
    width: 100vw;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
}

.menu ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 20px;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.0em;
    border-right: 1px solid white;
}

.menu img{
    padding-left: 20px;
}

.menu li:hover {
    background: rgba(0,0,0,0.3); 
}

.botonord {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.botonord:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.botonord:active {
	position:relative;
	top:1px;
}

@media (max-width:767px) {

    header {
        background: var(--color_cabeceras);
        width: 100vw;
    }
    header label {
        display: block;
    }
    .menu {
        display: none;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .menu li {
        border-top: 1px solid #fff;
        display: none;
    }
    .menu ul img{
        display: none;
    }

    #btn_menu:checked ~ .menu {
        display: block;
        margin: 0;
        z-index: 1;
        width: auto;
    }

    #btn_menu:checked ~ .menu ul{
        width: auto;
        padding-left: 0;
    }

    #btn_menu:checked ~ .menu li{
        display: block;
        width: auto;
        text-align: center;
        border-right: 0px;
    }

    #btn_menu:checked ~ .menu li a{
        border-right: 0px;
    }

    form{
        display: flex;
        align-items:center;
        justify-content:center;
        flex-flow: column wrap;
        left: 0;
        right: 0;
        margin: auto;
    
        background-color: rgba(255, 255, 255, 0.849);
        width: 80vw;
        padding-bottom: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    form h2{
        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        box-shadow: -2px 1px 2px 0 rgba(0, 0, 0, 0.8);
    }
    
    form input,select,textarea,label,option{
        margin-top: 10px;
        width: 90%;
    }
    
    form #enviar{
        height: 50px;
        width: 150px;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 10px;
        border: 1px solid black;
        box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.8);
        
    }
    
    .mensajeform{
        display: inline-block;
        width: 8  0vw;
        padding: 10px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.76);
        color: black;
        margin-bottom: 20px;
    }
}